<div class="col-sm-12 p-0" style="height: auto;">
	<img src="src/assets/img/Admin Page/Admin GGPenta Login BG.jpg" class="col-sm-12 p-0">
	<div class="col-sm-6" style="height: 100%; background-color: white; position: absolute;"> 
		<div class="col-sm-3"></div>
		<div class="col-sm-6 p-0 d-flex flex-direction-column align-items-center" style="transform: translateY(12vw);">
			<img src="src/assets/img/Admin Page/Logo-GGPenta-Admin.png">
			<span class="col-sm-12 p-0 font-s24 text-center semi-bold" style="color: #C89B3C; margin-top: 10px;">ADMINISTRATOR LOGIN</span>

			<span class="col-sm-12 p-0 font-s16 text-left semi-bold" style="color: #928D80; margin-top: 20px; margin-bottom: 10px;">Username or Email</span>
			<input type="text" class="col-sm-12 admin-input" style="padding: 10px; border: 2px solid #C99D40; background-color: white;" 
			tabindex="1" ng-model="adminDetails.username">

			<span class="col-sm-12 p-0 font-s16 text-left semi-bold" style="color: #928D80; margin-top: 10px; margin-bottom: 10px;">Password</span>
			<input type="password" class="col-sm-12 admin-input" style="padding: 10px; border: 2px solid #C99D40; background-color: white;" 
			tabindex="2" ng-model="adminDetails.password">

			<button class="text-white col-sm-12" style="background: #C99D40 0% 0% no-repeat padding-box; border: 0; 
			padding: 10px; margin-top: 20px;" ng-click="admLogin()"> LOG IN</button>
		</div>
		
	</div>
</div>