<div class="col-sm-12" style="border-bottom: 1px solid white; padding: 15px 20px; border-bottom: 2px solid #CCCCCC;">
	<div class="d-flex justify-content-space-between align-items-center">
		<div class="d-flex align-items-center">
			<img src="src/assets/img/Admin Page/Profile Img Sample.png" class="center" style="height: 68px; width: 68px;">
			<span class="font-s16 semi-bold" style="color: #C99D40;">ADMIN</span> 
		</div>
		<i class="fa fa-bell font-s16" style="padding-right: 10px; color: #C99D40;"></i>
	</div>
</div>
<div class="pt-10 col-sm-12 pl-0 pr-0">
	<div ui-sref="admin.work-status" ui-sref-active="sidebar-active" class="pointer d-flex align-items-center justify-content-space-between" style="padding: 2px 0 2px 20px; color: #B5AA84;">
		<div>
			<img src="src/assets/img/Admin Page/Ic_01.png" class="" style="width: 40px; height: 40px;"/>
			<span class="pl-10 font-s14 semi-bold">WORK STATUS</span>
		</div>
	</div>
	<div ui-sref="admin.manage-user" ui-sref-active="sidebar-active" class="pointer d-flex align-items-center" style="padding: 2px 0 2px 20px; color: #B5AA84;">
		<img src="src/assets/img/Admin Page/Ic_01 – 1.png" class="" style="width: 40px; height: 40px;"/>
		<span class="pl-10 font-s14 semi-bold">MANAGE USERS</span>
	</div>
	<div ui-sref="admin.manage-post" ui-sref-active="sidebar-active" class="pointer d-flex align-items-center" style="padding: 2px 0 2px 20px; color: #B5AA84;">
		<img src="src/assets/img/Admin Page/Ic_01 – 2.png" class="" style="width: 40px; height: 40px;"/>
		<span class="pl-10 font-s14 semi-bold">MANAGE POSTS</span>
	</div>

	<img src="src/assets/img/Admin Page/Logo_BG-Sidebar.png" class="fix-img"/>
	<button class="fix-btn" ng-click="admLogout()">SIGN OUT</button>
</div>