<div class="col-sm-12 p-0" style="height: 140px; background: #000912 0% 0% no-repeat padding-box;">
	<div class="img-text">
		<img src="src/assets/img/Homepage_BG06.jpg" class="col-sm-12 p-0">
		<div class="col-sm-12 p-0"  style="transform: translateY(6.5vw);">
			<div class="col-sm-2 p-0"></div>
			<div class="col-sm-8 p-0">
				<span class="col-sm-12 pl-0 font-s24 semi-bold text-center" style="color: #A19C8B;">
					CONSULT ON US NOW, WE ARE ONLINE 24/7!
				</span>
				<span class="col-sm-12 font-s50 semi-bold text-center" style="color: #F1E7D2; padding: 5px 0 0;">
					CUSTOMER SERVICE CENTER
				</span>
				<span class="col-sm-12 font-s24 text-center" style="color: #F1E7D2; padding: 5px 0 0;">
					KAKAO TALK/TELEGRAM INQUIRY
				</span>
				<span class="col-sm-12 font-s16 text-center" style="color: #09A646; padding: 5px 0 0;">
					ID: GGPenta
				</span>
			</div>
			<div class="col-sm-2 p-0"></div>
		</div>
	</div>
	<div class="col-sm-12 p-0" style="background: #000912 0% 0% no-repeat padding-box;">
		<div class="col-sm-12" style="display: flex; justify-content: center; padding: 30px 0 0 0;">
			<img src="src/assets/img/Logo-Footer.png" class="" style="height: 61.41px; width: 87.87px;">
		</div>
		<span class="col-sm-12 text-center semi-bold" style="color: #9A9586; padding-top: 10px; padding-bottom: 20px;">Copyright © 2022 LoL Development, Cultivation, Lectures Agency</span>
	</div>
</div>