<div class="top-page">
	<img src="src/assets/img/Homepage_BG01.jpg" class="col-sm-12 p-0" style="height: 24vw;">
	<div class="col-sm-12" style="position: absolute; padding: 5.2vw 0 0;">
		<div class="col-sm-2 p-0"></div>
		<div class="col-sm-8 p-0">
			<span class="col-sm-12 pl-0 font-s24" style="color: #A19C8B;">WE GUARANTEE THE BEST SERVICES</span>
			<span class="col-sm-12 pl-0 font-s50 semi-bold" style="color: #F1E7D2;">DEVELOP SPECIFIC SKILLS</span>
			<span class="col-sm-12 font-s24" style="color: #A19C8B; padding: 20px 0 0;">100% OF ANY FEES CAN BE REFUNDED IN CASE OF ANY PROBLEMS</span>
			<button class="btn" style="margin-top: 10px;" ng-click="viewPrice()">VIEW PRICE GUIDE</button>
		</div>
		<div class="col-sm-2 p-0"></div>
	</div>
	<div class="img-text">
		<img src="src/assets/img/Homepage_BG02.jpg" class="col-sm-12 p-0">  <!-- style="height: 35.5vw;"> -->
		<div class="col-sm-12 p-0">
			<div class="col-sm-2 p-0"></div>
			<div class="col-sm-8 p-0">
				<span class="col-sm-12 pl-0 font-s24 semi-bold" style="color: #F1E7D2;">
					THE LOWEST PRICE IN THE INDUSTRY, GG PENTA!
				</span>
				<span class="col-sm-12 font-s16" style="color: #A19C8B; padding: 10px 0 0;">
					CONSULT ON US NOW, WE ARE ONLINE 24/7! CONTACT US AT KAKAO OR TELEGRAM. WE ARE ALWAYS HAPPY TO HELP!
				</span>
				<div class="col-sm-12" style="padding: 20px 0 0;">
					<div class="col-sm-6 p-0">
						<div class="col-sm-6 p-0">
							<div class="col-sm-11 con">
								<img src="src/assets/img/Consult_KakaoInq.png" style="height: 55px;">
								<span class="pt-10" style="color: #F1E7D2;">KAKAO TALK INQUIRY</span>
								<span style="color: #09A646;">ID: GGPenta</span>
							</div>
						</div>
						<div class="col-sm-6 p-0">
							<div class="col-sm-11 con">
								<img src="src/assets/img/Consult_TeleInq.png" style="height: 55px;">
								<span class="pt-10" style="color: #F1E7D2;">TELEGRAM INQUIRY</span>
								<span style="color: #09A646;">ID: GGPenta</span>
							</div>
						</div>
						<div class="col-sm-6" style="padding: 10px 0 0;">
							<div class="col-sm-11 con">
								<img src="src/assets/img/Consult_KakaoChat.png" style="height: 55px;">
								<span class="pt-10" style="color: #F1E7D2;">KAKAO TALK OPEN CHAT</span>
								<span style="color: #07A4BB;">CLICK TO REDIRECT</span>
							</div>
						</div>
						<div class="col-sm-6" style="padding: 10px 0 0;">
							<div class="col-sm-11 con">
								<img src="src/assets/img/Consult_KakaoChannel.png" style="height: 55px;">
								<span class="pt-10" style="color: #F1E7D2;">KAKAO TALK CHANNEL</span>
								<span style="color: #09A646;">Channel: GG Penta</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 p-0">
						<div class="col-sm-12 con" style="align-items: flex-start; padding-bottom: 5px;">
							<span class="semi-bold" style="color: #C89B3C; padding-bottom: 15px;">NOTICE BOARD</span>
							<div class="" ng-repeat="i in noticeBoardList">
								<div class="col-sm-8" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #9A9586; padding: 0 0 15px;">
									{{ i.text }}
								</div>
								<div class="col-sm-1 p-0"></div>
								<div class="col-sm-3 p-0" style="color: #51514E; padding: 0 0 15px; text-align: right;">
									{{ i.date | date: 'yyyy.MM.dd' }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2 p-0"></div>
		</div>
		
	</div>
	<div class="img-text">
		<img src="src/assets/img/Homepage_BG03.jpg" class="col-sm-12 p-0">
		<div class="col-sm-12 p-0" style="transform: translateY(61.5vw);">
			<div class="col-sm-2 p-0"></div>
			<div class="col-sm-8 p-0">
				<span class="col-sm-12 pl-0 font-s24 semi-bold" style="color: #F1E7D2;">
					THE LOWEST PRICE IN THE INDUSTRY, GG PENTA!
				</span>
				<span class="col-sm-12 font-s16" style="color: #A19C8B; padding: 10px 0 0;">
					CONSULT ON US NOW, WE ARE ONLINE 24/7! CONTACT US AT KAKAO OR TELEGRAM. WE ARE ALWAYS HAPPY TO HELP!
				</span>
				<div class="col-sm-12" style="padding: 20px 0 0;">
					<div class="row">
						<div class="col img-text pr-0">
							<img src="src/assets/img/Homepage_3-Img01.jpg" style="width: 32.5vw;">
							<div class="col-sm-11 span-img-text" style="transform: translateY(-18.8vw); padding-top: 3.5vw;">
								<span class="font-s36" style="color: white; text-align: right;">
									DUO LECTURE PRICE
								</span>
								<span class="font-s16" style="color: white; width: 60%; text-align: right;">
									CONDUCT DUO LECTURES WITH OUR SKILLED SUMMONERS!
								</span>
								<button class="btn" style="margin-top: 10px;">VIEW PRICE GUIDE</button>
							</div>
						</div>
						<div class="col img-text pl-0">
							<img src="src/assets/img/Homepage_3-Img02.jpg" style="width: 32.5vw;">
							<div class="col-sm-11 span-img-text" style="transform: translateY(-18.8vw); padding-top: 3.5vw; align-items: flex-start;">
								<span class="font-s36" style="color: white; text-align: right;">
									UPBRINGING PRICE
								</span>
								<span class="font-s16" style="color: white; width: 60%; text-align: right;">
									BEST SERVICES AT LOW PRICE THAT SATISFIES EVERY PLAYER!
								</span>
								<button class="btn" style="margin-top: 10px;">VIEW PRICE GUIDE</button>
							</div>
						</div>
					</div>
					<div class="row" style="padding-top: 15px;">
						<div class="col img-text pr-0">
							<img src="src/assets/img/Homepage_3-Img03.jpg" style="width: 32.5vw;">
							<div class="col-sm-11 span-img-text" style="transform: translateY(-18.8vw); padding-top: 3.5vw;">
								<span class="font-s36" style="color: white; text-align: right;">
									WORK STATUS
								</span>
								<span class="font-s16" style="color: white; width: 76%; text-align: right;">
									A LIST OF ALL THE RECORDS CURRENTLY HANDLED BY OUR TEAM
								</span>
								<button class="btn" style="margin-top: 10px;">VIEW WORK STATUS</button>
							</div>
						</div>
						<div class="col img-text pl-0">
							<img src="src/assets/img/Homepage_3-Img04.jpg" style="width: 32.5vw;">
							<div class="col-sm-11 span-img-text" style="transform: translateY(-18.8vw); padding-top: 3.5vw; align-items: flex-start;">
								<span class="font-s36" style="color: white; text-align: right;">
									WORK REVIEWS
								</span>
								<span class="font-s16" style="color: white; width: 60%; text-align: right;">
									THE HONEST REVIEWS FROM OUR VALUED CLIENTS
								</span>
								<button class="btn" style="margin-top: 10px;">VIEW REVIEWS</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2 p-0"></div>
		</div>
		
	</div>
	<div class="col-sm-12 p-0" style="margin: 50px 0;">
		<div class="col-sm-2 p-0"></div>
		<div class="col-sm-8 p-0">
			<div class="con2">
				<img src="src/assets/img/karthus1.png" class="col-sm-12 p-0" style="position: absolute; margin-left: 15%; top: 1.8vw; mix-blend-mode: lighten;">
				<div style="position: relative;">
					<span class="font-s24 pb-10" style="color: #F1E7D2;">GREETINGS SUMMONERS!</span>
					<p class="font-s16" style="color: #A19C8B; width: 706px;">
						We at GG Penta team would like to thank all of you for visiting our site! 
						<br/><br/>
						We give our best to support you throughout your league of legends gaming experience, 
						our team consists of professional LoL Players and all around game specialists! 
						<br/><br/>
						You can check what we can offer through our price guide page! 
						<br/>
						We mainly work on LoL Skill Cultivation and LoL Duo Lectures,
						do not fret because we offer this packages at the lowest possible prices.
						<br/><br/>
						<i class="semi-bold" style="color: #C89B3C;">
							Fellow armsmen, I ask you, <br/>
							Will you follow me tonight to break their spine <br/>
							And reclaim what once was mine?<br/>
							- Karthus
						</i> 
						<br/><br/>
						You can also contact us on our Kakao Talk & Telegram Inquiries!<br/>
						<span style="color: #7B87AA;">Kakao ID: GGPenta</span><br/>
						<span style="color: #7B87AA;">Telegram ID: GGPenta </span>
						<br/><br/>
						You can also visit our Facebook Page!
					</p>
					<button class="btn" style="margin-top: 10px;"><img src="src/assets/img/Ic_Link.png" style="padding-right: 5px;"> FACEBOOK</button>
				</div>
			</div>
		</div>
		<div class="col-sm-2 p-0"></div>
	</div>
	<div class="img-text">
		<img src="src/assets/img/Homepage_BG05.jpg" class="col-sm-12 p-0">  <!-- style="height: 35.5vw;"> -->
		<div class="col-sm-12 p-0" style="transform: translateY(159vw);">
			<div class="col-sm-2 p-0"></div>
			<div class="col-sm-8 p-0">
				<span class="col-sm-12 p-0 font-s24" style="color: #A19C8B;">MEET OUR TEAM</span>
				<span class="col-sm-12 p-0 font-s50" style="color: #F1E7D2;">THE INSTRUCTORS</span>
				<div class="col-sm-12 p-0 text-center" style="display: grid; grid-template-columns: 337px 337px 337px;">
					<div class="row" style="height: 18vw;">
						<div class="col-sm-12 p-0" style="height: 18vw;">
							<img src="src/assets/img/Border_Instructor-All.png" style="width: 20vw;">
							<div class="col-sm-12 p-0" style="transform: translateY(-16vw);">
								<span class="col-sm-12 semi-bold font-s14" style="color: #F4EAD5;">MY TEAM LEADER</span>
								<span class="col-sm-12 semi-bold font-s28" style="color: #C89B3C;">JUNGLE INSTRUCTOR</span>
								<span class="col-sm-12 semi-bold font-s16" style="color: #A19C8B;">SEASON 9 & 10 CHALLENGER 657P YOUNGEST IN THE TEAM</span>
							</div>
						</div>
						<div class="col-sm-12 p-0" style="height: 18vw;">
							<img src="src/assets/img/Border_Instructor-All.png" style="width: 20vw;">
							<div class="col-sm-12 p-0" style="transform: translateY(-16vw);">
								<span class="col-sm-12 semi-bold font-s14" style="color: #F4EAD5;">MY TEAM LEADER</span>
								<span class="col-sm-12 semi-bold font-s28" style="color: #C89B3C;">MID INSTRUCTOR</span>
								<span class="col-sm-12 semi-bold font-s16" style="color: #A19C8B;">SEASON 8 CHALLENGER 720P</span>
							</div>
						</div>
					</div>
					<div class="row" style="height: 18vw;">
						<div class="col-sm-12 p-0" style="height: 18vw;">
							<img src="src/assets/img/Border_Instructor-All.png" style="width: 20vw;">
							<div class="col-sm-12 p-0" style="transform: translateY(-16vw);">
								<span class="col-sm-12 semi-bold font-s14" style="color: #F4EAD5;">MY TEAM LEADER</span>
								<span class="col-sm-12 semi-bold font-s28" style="color: #C89B3C;">SUPPORT INSTRUCTOR</span>
								<span class="col-sm-12 semi-bold font-s16" style="color: #A19C8B;">SEASON 9 CHALLENGER 980P USES TANK CHAMPS VERY WELL</span>
							</div>
						</div>
						<div class="col-sm-12 p-0" style="height: 18vw;">
							<img src="src/assets/img/Border_Instructor-All.png" style="width: 20vw;">
							<div class="col-sm-12 p-0" style="transform: translateY(-16vw);">
								<span class="col-sm-12 semi-bold font-s14" style="color: #F4EAD5;">MY TEAM LEADER</span>
								<span class="col-sm-12 semi-bold font-s28" style="color: #C89B3C;">TOP INSTRUCTOR</span>
								<span class="col-sm-12 semi-bold font-s16" style="color: #A19C8B;">S9 GM S10 CHALLENGER LCK PROGRAM TRAINEE</span>
							</div>
						</div>
					</div>
					<div class="row" style="height: 18vw;">
						<div class="col-sm-12 p-0" style="height: 18vw;">
							<img src="src/assets/img/Border_Instructor-All.png" style="width: 20vw;">
							<div class="col-sm-12 p-0" style="transform: translateY(-16vw);">
								<span class="col-sm-12 semi-bold font-s14" style="color: #F4EAD5;">MY TEAM LEADER</span>
								<span class="col-sm-12 semi-bold font-s28" style="color: #C89B3C;">ADC INSTRUCTOR</span>
								<span class="col-sm-12 semi-bold font-s16" style="color: #A19C8B;">SEASON 6 TO 9 CHALLENGER DIAMOND RANK WINRATE NO.1</span>
							</div>
						</div>
						<div class="col-sm-12 p-0" style="height: 18vw;">
							<img src="src/assets/img/Border_Instructor-All.png" style="width: 20vw;">
							<div class="col-sm-12 p-0" style="transform: translateY(-14vw);">
								<span class="col-sm-12 semi-bold font-s28" style="color: #C89B3C;">TEAM INSTRUCTORS</span>
								<span class="col-sm-12 semi-bold font-s16" style="color: #A19C8B;">VIEW ALL</span>
							</div>
						</div>
					</div>
					
					
					
					
					
					
				</div>
			</div>
			<div class="col-sm-2 p-0"></div>
		</div>
	</div>
</div>