<div class="top-page" style="height: 95vw;">
	<img src="src/assets/img/Team Page/Page Banner - Team.jpg" class="col-sm-12 p-0">
	<div class="col-sm-12" style="position: absolute; padding: 1.5vw 0 0;">
		<div class="col-sm-2 p-0"></div>
		<div class="col-sm-8 p-0">
			<span class="col-sm-12 semi-bold pl-0 font-s22" style="color: #A19C8B;">MEET OUT TEAM</span>
			<span class="col-sm-12 semi-bold pl-0 font-s40 semi-bold" style="color: #F1E7D2;">GG PENTA INSTRUCTORS</span>
		</div>
		<div class="col-sm-2 p-0"></div>
	</div>
	<div class="col-sm-12 p-0" style="transform: translateY(2vw);">
		<div class="col-sm-2 p-0"></div>
		<div class="col-sm-8 p-0">
			<!-- JG -->
			<div class="col-sm-12 team-container">
				<img src="src/assets/img/Team Page/Instructor - Jungle.png" class="col-sm-12 p-0" style="height: 215px; width: 495px; float: right;">
				<div id="divText" class="col-sm-2 p-0">
					<img src="src/assets/img/Icon Role/Icon Jungle.png" class="col-sm-12 p-0 img-role">
					<img src="src/assets/img/Icon Rank/08 Grandmaster Rank.png" class="col-sm-12 p-0">
				</div>
				<div class="col-sm-4" style="padding: 20px 20px 20px 35px;">
					<span class="col-sm-12 p-0 font-s12" style="color: #F4EAD5;">MY TEAM LEADER</span>
					<span class="col-sm-12 p-0 font-s26" style="color: #C89B3C;">JUNGLE INSTRUCTOR</span>
					<span class="col-sm-12 p-0 font-s14" style="color: #A19C8B;">SEASON 9 & 10 CHALLENGER 657P YOUNGEST IN THE TEAM</span>
					<span class="col-sm-12 font-s14" style="color: #7B87AA; padding: 3vw 0 0 0;">MAIN CHAMPION LISTS:</span>
				</div>
			</div>
			<!-- SUPPORT -->
			<div class="col-sm-12 team-container">
				<img src="src/assets/img/Team Page/Instructor - Support.png" class="col-sm-12 p-0" style="height: 215px; width: 495px; float: right;">
				<div id="divText" class="col-sm-2 p-0">
					<img src="src/assets/img/Icon Role/Icon Support.png" class="col-sm-12 p-0 img-role">
					<img src="src/assets/img/Icon Rank/07 Master Rank.png" class="col-sm-12 p-0">
				</div>
				<div class="col-sm-4" style="padding: 20px 20px 20px 35px;">
					<span class="col-sm-12 p-0 font-s12" style="color: #F4EAD5;">MY TEAM LEADER</span>
					<span class="col-sm-12 p-0 font-s26" style="color: #C89B3C;">SUPPORT INSTRUCTOR</span>
					<span class="col-sm-12 p-0 font-s14" style="color: #A19C8B;">SEASON 9 CHALLENGER 980P USES TANK CHAMPS VERY WELL</span>
					<span class="col-sm-12 font-s14" style="color: #7B87AA; padding: 3vw 0 0 0;">MAIN CHAMPION LISTS:</span>
				</div>
			</div>
			<!-- ADC -->
			<div class="col-sm-12 team-container">
				<img src="src/assets/img/Team Page/Instructor - Bot.png" class="col-sm-12 p-0" style="height: 215px; width: 495px; float: right;">
				<div id="divText" class="col-sm-2 p-0">
					<img src="src/assets/img/Icon Role/Icon Bot.png" class="col-sm-12 p-0 img-role">
					<img src="src/assets/img/Icon Rank/06 Diamond Rank.png" class="col-sm-12 p-0">
				</div>
				<div class="col-sm-4" style="padding: 20px 20px 20px 35px;">
					<span class="col-sm-12 p-0 font-s12" style="color: #F4EAD5;">MY TEAM LEADER</span>
					<span class="col-sm-12 p-0 font-s26" style="color: #C89B3C;">ADC INSTRUCTOR</span>
					<span class="col-sm-12 p-0 font-s14" style="color: #A19C8B;">SEASON 6 TO 9 CHALLENGER DIAMOND RANK WINRATE NO.1</span>
					<span class="col-sm-12 font-s14" style="color: #7B87AA; padding: 3vw 0 0 0;">MAIN CHAMPION LISTS:</span>
				</div>
			</div>
			<!-- MID -->
			<div class="col-sm-12 team-container">
				<img src="src/assets/img/Team Page/Instructor - Mid.png" class="col-sm-12 p-0" style="height: 215px; width: 495px; float: right;">
				<div id="divText" class="col-sm-2 p-0">
					<img src="src/assets/img/Icon Role/Icon Mid.png" class="col-sm-12 p-0 img-role">
					<img src="src/assets/img/Icon Rank/09 Challenger Rank.png" class="col-sm-12 p-0">
				</div>
				<div class="col-sm-4" style="padding: 20px 20px 20px 35px;">
					<span class="col-sm-12 p-0 font-s12" style="color: #F4EAD5;">MY TEAM LEADER</span>
					<span class="col-sm-12 p-0 font-s26" style="color: #C89B3C;">MID INSTRUCTOR</span>
					<span class="col-sm-12 p-0 font-s14" style="color: #A19C8B;">SEASON 8 CHALLENGER 720P</span>
					<span class="col-sm-12 font-s14" style="color: #7B87AA; padding: 3vw 0 0 0;">MAIN CHAMPION LISTS:</span>
				</div>
			</div>
			<!-- TOP -->
			<div class="col-sm-12 team-container">
				<img src="src/assets/img/Team Page/Instructor - Top.png" class="col-sm-12 p-0" style="height: 215px; width: 495px; float: right;">
				<div id="divText" class="col-sm-2 p-0">
					<img src="src/assets/img/Icon Role/Icon Top.png" class="col-sm-12 p-0 img-role">
					<img src="src/assets/img/Icon Rank/08 Grandmaster Rank.png" class="col-sm-12 p-0">
				</div>
				<div class="col-sm-4" style="padding: 20px 20px 20px 35px;">
					<span class="col-sm-12 p-0 font-s12" style="color: #F4EAD5;">MY TEAM LEADER</span>
					<span class="col-sm-12 p-0 font-s26" style="color: #C89B3C;">TOP INSTRUCTOR</span>
					<span class="col-sm-12 p-0 font-s14" style="color: #A19C8B;">S9 GM S10 CHALLENGER LCK PROGRAM TRAINEE</span>
					<span class="col-sm-12 font-s14" style="color: #7B87AA; padding: 3vw 0 0 0;">MAIN CHAMPION LISTS:</span>
				</div>
			</div>
		</div>
		<div class="col-sm-2 p-0"></div>
	</div>
</div>